---
layout: default
---

<div class="home">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <table style="border: 2px solid grey;">
    <tr>
      <td style="width:50%;">
        <h1 style="font-size: 200%;">Hi 👋</h1>
        <p>My name is 李成蹊, Chauncey and رشيد, whichever you recognize!</p>
      </td>
      <td style="width:50%; text-align: right;">
        <img src="/files/profile.jpg" alt="profile">
        special thanks to <a href="https://hanyu.pku.edu.cn/xyjs/szdw/yjfxjs/kcyjsfzyjs1/376992.htm">Prof. Liu</a>, for taking this picture and the encouragements
      </td>
    </tr>
  </table>

  <div>
    {{ content }}
  </div>

</div>
